.navbar{
  display: flex;
  justify-content: space-evenly;
}

.navLink {
  padding-top: 20px;
  text-align: center;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  font-family:  "Outfit", sans-serif;

}

.navLink-logo {
  font-size: 4em;
  color: white;
}
